html
html(lang='en')
    head
        title node-chat
        link(rel="stylesheet", href="style.css")
    body
        .chat
            .chatbox
                .leftside
                    ul#messages.chat-thread
                    form#chat.chat-window(action="")
                        input#m.chat-window-message(autocomplete="off")
                        button Send
                //- .rightside
                //-     ul#onlines
    script(src="dist/socket.io.js")
    script(src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js")
    script(src="client/client.js")