html(lang='en')
    head
        title node-chat
        link(rel="stylesheet", href="style.css")
    body
        .chat
            .chatbox
                ul.messages
                form.chat-form(action="")
                    input.chat-form-input(autocomplete="off")
                    button.chat-form-button Send
    script(src="dist/socket.io.js")
    script(src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js")
    script(src="client/client.js")