html
html(lang='en')
    head
        title node-chat
        link(rel="stylesheet", href="login.css")
    body
        form#login(action="" method="post")
            input#name(type="text", name="username")
            input(type="submit", value="Send")
    script(src="dist/socket.io.js")
    script(src="client/login.js")