html
html(lang='en')
    head
        title node-chat
        link(rel="stylesheet", href="style.css")
    body
        .login
            form#login(action="" method="post")
                input(type="submit", value="Login")
    script(src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js")
    script(src="client/login.js")