@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

.chat {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox {
  width: 60vw;
}

.messages {
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.messages li {
  margin: 12 auto;
  list-style: none;
}

.messages .msg {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
  padding: 16px 20px;
}

.messages .userMsg {
  margin-left: 80px;
}

.messages .userMsg:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
  border-left: 15px solid transparent;
  left: -15px;
}

.messages .personnalMsg {
  margin-right: 80px;
}

.messages .personnalMsg:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-form {
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-form-input {
  width: 94%;
  background: #ececec;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 8px 4px 8px 10px;
  font-size: 18px;
}

.chat-form-button {
  background: url('img/send.svg') no-repeat center #8db1b3;
  background-size: 18px;
  padding: 18px;
  margin: auto;
  border: none;
  border-radius: 50%;
}